.accommodation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  text-align: center;
}

.accommodation-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.accommodation-image-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.side-image {
  width: 16vw;
  height: 48vh;
  object-fit: cover;
  overflow: hidden;
}

.center-image {
  width: 32vw;
  height: 48vh;
  object-fit: cover;
  overflow: hidden;
}

.text-container {
  width: 32vw;
}

.room-types-container {
  display: flex;
  flex-direction: column;
  background-color: #B68E55;
  padding: 40px 0px;
  width: 100vw;
  align-items: center;
}

.room-type {
  display: flex;
  justify-content: space-between;
  width: 64vw;
  text-align: center;
}

.p-room-type {
  margin-top: 8px;
  padding: 8px 0px;
  font-weight: bold;
  color: rgb(252, 252, 252);
}

.p-room-info {
  margin-top: 8px;
  padding: 8px 0px;
  font-weight: lighter;
  color: rgb(252, 252, 252);
}
