.navbar-master-container {
  height: 80px;
  width: 100vw;
  background-color: rgb(252, 252, 252);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;

}

.setsuka {
  font-family: "Cormorant Garamond";
  font-size: 40px;
  margin: 0px;
  align-content: center;
}

.navbar-menu-items {
  display: flex;
  gap: 24px;
}

.menu-item {
  font-family: "Cormorant Garamond";
  font-size: 16px;
  margin: 8px 0px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #B68E55;
  color: rgb(25, 25, 25);
  padding: 4px 16px 4px 16px;
  transition: 0.25s ease;
}

.menu-item:hover {
  color: rgb(252, 252, 252);
  background-color: #B68E55;
}
