html {
  background-image: url('/src/imgs/Setsuka-background-texture.png');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-color: rgb(252, 252, 252) ;
}
